.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    width: auto;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 3px;
}
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    width: auto;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 3px;
}
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    background: #fff;
    -moz-box-shadow: inset 0 2px 2px #8f8f8f;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #313131;
}
.ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus, .ui-widget-header .ui-inputfield.ui-state-focus {
    -webkit-box-shadow: 0 0 5px #85b2cb;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #fff;
    color: #4f4f4f;
    text-shadow: 0 0 0;
}
.ui-selectcheckboxmenu-header {
    margin-bottom: 0px;
    padding: 0px;
}
.ui-selectcheckboxmenu-header .ui-inputfield {
    padding: 0px 0px 0px 0px;
}
.ui-selectcheckboxmenu-header {
    padding-bottom: 2px;
    padding-top: 2px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #a5a5a5;
    background: rgba(196, 196, 196, 0.44);
    font-weight: bold;
    color: #574f57;
    text-shadow: 0 1px 0 rgba(255,255,255,0.7);
}
.ui-selectcheckboxmenu-header .ui-chkbox {
    float: left;
    cursor: pointer;
    margin-left: 2px;
    margin-top: 3px;
}
.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-close {
    float: right;
    padding: 1px;
    margin-right: 2px;
    margin-top: 2px;
    display: block;
}
.ui-widget-header {
    border: 1px solid #a8a8a8;
    background: rgba(196, 196, 196, 0.44);
    color: #333;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,0.7);
}
.ui-panel .ui-panel-content {
    border: 0;
    background: 0;
    padding: 0;
}
.ui-widget-content {
    border:none;
}