* {
  margin: 0;
}
html, body {
  height: 100%;
}
.container {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -52px; 
}
.container:after {
  content: "";
  display: block;
}
.footer, .container:after {
  height: 52px; 
}
.footer .text-center{
    padding-top: 12px;
}
.footer a{
    font-size: 20px;
    padding: 12px 5px 12px 5px;
    text-decoration:  none;
}