.container{
    padding-top: 60px;
}

.input-radius-l-corner{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.btn-radius-r-corner{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 6px;
}