.cThead{
    width: 100%;
    display: inline-table;
    height:60px;
    table-layout: fixed;
}

.cTable{
    height:300px; 
    display: -moz-groupbox;
}

.cTbody{
    overflow-y: scroll;
    height: 200px;
    width: 100%;
    position: absolute;
}
